<div class="navbar navbar-default navbar-fixed-top" data-role="navigation">
    <div class="navbar-header navbar-left">
        <a class="navbar-brand" href="#">
            <div class="swubadsch"><strong>SWU </strong> <strong>Bad</strong>minton <strong>Sch</strong>eduler</div>
        </a>

        <div ng-if="$storage.userid != -1">
            <button type="button" class="navbar-toggle navbar-right right pull-right collapsed navbar-link glyphicon glyphicon-user" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            </button>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="navbar-nav nav navbar-right hidden-xs" style="margin-right: 10px">
            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                    <div class="username">{{currentUser.name}}<span class="caret"></span></div>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/#/" ng-click="$storage.userid = -1">Benutzer wechseln</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="navbar-nav nav navbar-right hidden-sm hidden-md hidden-lg">
            <li>
                <a href="/#/" ng-click="$storage.userid = -1">Benutzer wechseln (<span class="username">{{currentUser.name}})</span></a>
            </li>
        </ul>
    </div>
</div>